
.curtain {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: linear-gradient(62.83deg, #070707 0%, rgba(8, 8, 8, 0) 97%), radial-gradient(100% 100% at 0% 100%, rgba(43, 150, 203, 0) 0%, #061D28 0.01%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 20px 20px 0 0;
  z-index: 1000;
  padding: 15px 24px 131px;
  transform: translateY(100%);
  transition: transform ease-in-out .3s, opacity ease-in-out .3s;
  opacity: 0;
  box-sizing: border-box;

  &_open {
    opacity: 0.95;
    transform: translateY(0);
  }

  &_black {
    color: rgba(255, 255, 255, 0.96);
  }
}